.white-bg{
   -fx-background-color: #fff;
}

.border-top{
    -fx-border-color: #000;
    -fx-border-width: .5px 0 .4px 0;
}

.radius{
    -fx-background-radius: 5px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.header-1{
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 0 0 0 2px;
    -fx-padding: 0 0 0 5px;
}

.bg-color-1{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
}

.nav-btn-1{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
}

.nav-btn-1:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-icon-fill: #fff;
}


.table-view{
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 6px 6px 0 0;
}

.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}

/* AVAILABLE ROOMS */

.textfield{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 0 0 .8px 0;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
}

.textfield:focused{
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 0 0 1.5px 0;
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-radius: 5px;
    -fx-border-width: .8px;
    -fx-border-radius: .5px
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
}

.combo-box:focused {
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 1.5px;
}

.add-btn{
    -fx-background-color: #3e608c;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.add-btn:hover{
    -fx-background-color: #6597d3;
}

.update-btn{
    -fx-background-color: #00a424;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.update-btn:hover{
    -fx-background-color: #17e135;
}

.delete-btn{
    -fx-background-color: #9d374a;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.delete-btn:hover{
    -fx-background-color: #e4657e;
}

.receipt-btn {
        -fx-background-color: #408654;
        -fx-background-radius: 8px;
        -fx-cursor: hand;
        -fx-text-fill: #fff;
        -fx-font-size: 14px;
        -fx-font-family: "Arial";
}

.receipt-btn:hover{
    -fx-background-color: #73da90;
}

.clear-btn{
    -fx-background-color: #9d6245;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.clear-btn:hover{
    -fx-background-color: #e49c7b;
}

.check-in-btn{
       -fx-background-color: #468090;
       -fx-background-radius: 8px;
       -fx-cursor: hand;
       -fx-text-fill: #fff;
       -fx-font-size: 14px;
       -fx-font-family: "Arial";
}

.check-in-btn:hover{
    -fx-background-color: #6ec1d6;
}

.search{
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-radius: 5px 10px 5px 5px;
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 25px;
}

.search:focused{
    -fx-border-width: 1.8px;
}